*{
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Work+Sans:wght@800&display=swap');


body{
	background-image: url(./assets/paisajee.png);
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: blur(5px);
	height: 100%;
}

.contenedor{
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 120px);
	padding: 50px 120px;

}

.CreAcc{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 120px);
	padding: 5px 100px;
	background-color: rgb(255, 255, 255);
	width: 400px;
	height: 140px;
	border-radius: 9px;
	box-shadow: 20px 37px 37px rgba(0, 0, 0, 0.3);
}


label{
	color: hsl(0, 0%, 0%, 0.8);
	font-size: 15px;
	font-family: 'Manrope', sans-serif;

	
}

.form{
	align-items: center;
}

.form label, .form	input{
	display: block;
}


.form input{
	border: none;
	border-bottom: 2px solid #533768a9;
	margin-bottom: 5px;
	outline: none;
	font-family: 'Manrope', sans-serif;
}


.letritas{

	cursor: text;
	font-size: 14px;
	width: 60vh;
	height: 20px;
	color: hsl(0, 0%, 0%, 0.7);

}


.CreAcc h2{
	color: #533768;
	font-size: 30px;
	margin-bottom: 25px;
	margin-left: 60px;
	font-weight: 300;
	font-family: 'Work Sans', sans-serif;
}

.ingresar{
	cursor: pointer;
	margin-top: 30px;
	margin-left: 120px;
	outline: none;
	background-color: #533768;
	border: none;
	border-radius: 40px;
	height: 40px;
	width: 140px ;
	color: #ffffff;;
	box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.3)
}

